<script type="text/javascript" src="http://www.clubdesign.at/floatlabels.js"></script>
<div class="container">
  <div class="row centered-form">
    <div class="col-xs-8 col-sm-8 col-md-4 col-sm-offset-4 col-md-offset-4">
      <%= bootstrap_devise_error_messages! %>
      <div class="panel panel-default devise-bs">
        <div class="panel-heading">
          <h4><%= t('.sign_up', default: 'Sign up') %></h4>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
            <div class="form-group">
              <%= f.label t('devise.passwords.first_name', default: 'First name') %><br />
              <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label t('devise.passwords.last_name', default: 'Last name') %><br />
              <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label t('devise.passwords.user_name', default: 'User name') %><br />
              <%= f.text_field :user_name, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label t('devise.passwords.gender', default: 'Gender') %><br />
              <%= f.select(:gender, %w[Male Female], {autofocus: true}, class: 'form-control') %>
            </div>
            <div class="form-group">
              <%= f.label t('devise.passwords.address', default: 'Address') %><br />
              <%= f.text_field :address, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label t('devise.passwords.birth_date', default: 'Birthdate') %><br />
              <%= f.datetime_select(:birth_date, {start_year: 1930, end_year: Time.now.year, discard_hour: true}, class: 'form-control birth')%>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group image-upload">
              <%= f.label :attach_avatar %>
              <label for="file-input">
                <span class="glyphicon glyphicon-camera"></span>
              </label>
              <%= f.file_field :avatar, id: 'file-input' %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            <%= f.submit t('.sign_up', default: 'Sign up'), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>

