<div class="panel-body-chapter">
  <%= form_with(model: message, local: true) do |form| %>
    <div class="form-group">
      <%= form.trix_editor :text %>
    </div>
    <%= form.hidden_field :chapter_id, value: chapter.id %>
    <%= form.hidden_field :topic_id, value: topic.id %>
    <div class="actions ">
      <%= form.submit class: 'btn btn-primary'%>
    </div>
    <% if message.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(message.errors.count, "error") %> prohibited this topic from being saved:</h2>
        <ul>
          <% message.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
