<div class="forum-section">
  <table class="table">
    <thead class="forum-title">
    <tr>
      <th class="col-sm-2">
        <%= link_to message.author_user_name, user_path(message.user_id), class: 'forum-title' %>
      </th>
      <th class="col-sm-9"><%= message.posted %>
        <% if editable %>
          | <%= link_to 'Edit', edit_message_path(message), data: { confirm: 'Are you sure?' }, class: 'forum-title' %>
          | <%= link_to 'Delete', message_path, method: :delete, class: 'forum-title' %>
        <% end %>
      </th>
      <th class="col-sm-1"></th>
    </tr>
    </thead>
    <tbody class="forum-section-white">
    <tr>
      <td class="col-sm-2">
        <div class="col-sm-12"><%= image_tag message.author_avatar%></div>
        <div class="col-sm-12"><%= message.user_author %></div>
        <div class="col-sm-12">messages: <%= message.all_by_author %></div>
        <div class="col-sm-12">from: <%= message.author_address %></div>
      </td>
      <td class="col-sm-9"><%= message.text.html_safe %></td>
      <td class="col-sm-2">
        <%= render 'likes', likes: message.likes, message_id: message.id%>
        <% if user_signed_in? && !message.likes.map(&:user_id).include?(current_user.id) &&
            !current_user.id.equal?(message.user_id)  %>
            <%= render 'like_form', message: message %>
        <% end %>
        <button type="button" class="btn btn-default quotes">Quotes</button>
      </td>
    </tr>
    <% if message.status != Constants::STATUS %>
        <tr>
          <td></td>
          <td class="updated"><%= message.status %><%= message.updated %></td>
          <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
